* {
    color: #363636;
    font-family: Gilroy;
    

}

@font-face {
    font-family: Gilroy;
    src: url(../../../../Downloads/Gilroy-FREE.zip);
    font-family: 'Gilroy Bold';
    src: url(../../../../Downloads/gilroy-bold-cufonfonts/Gilroy-Bold.ttf);
    font-family: 'Gilroy Heavy';
    src: url(../../../../Downloads/gilroy-bold-cufonfonts/Gilroy-Heavy.ttf);
    font-family: 'Gilroy Medium';
    src: url(../../../../Downloads/gilroy-bold-cufonfonts/Gilroy-Medium.ttf);
    font-family: 'Gilroy Regular';
    src: url(../../../../Downloads/gilroy-bold-cufonfonts/Gilroy-Regular.ttf);
    font-family: 'Gilroy Light';
    src: url(../../../../Downloads/gilroy-bold-cufonfonts/Gilroy-Light.ttf);
}
/* Background Image */

body {
  /* The image used */
  background-image: 
  linear-gradient(rgb(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
  url("./images/Background.jpg");
  /* Full height */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* Basic Text Styling */

p {
    font-size: 36px;
}

h1 {
    font-size: 50px;

}

/* Nav Bar */

nav {
    background-color: #064497;
    border: calc(0.5vw - 2px) solid #064497;
    border-radius: 0.5vw 100px 100px 200px;
    margin: 1vw;
    max-width: fit-content;
    margin-left: auto;
    padding: 0;
}

ul li{
    display: inline-block;
}

nav ul li a{
    font-family: 'Gilroy-Bold';
    font-size: 2vw;
    color: white;
    margin: 0 0.5vw;
    text-decoration: none;
}

/* Main Section */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-photo {
    border-radius: 0.5vw 50% 50% 50%;
    width: 30%;
    height: 30%;
    display: block;
    margin: 2vw;
    max-width: 100%;
}

.blue {
    color: #064497;
    font-weight: bold;
}

#text-container {
    display: flex;
    max-width: 40%;
    flex-direction: column;
}

#text-container p {
    font-size: 2.5vw;
}

#text-container h1 {
    margin: 0;
    font-size: 5vw;

}

#darrow {
    display: block;
    width: 15%;
    margin: 0 auto;
}